<%- include("partials/header") %>
    <!-- เส้นทาง -->
    <div class="container">
        <a href="/novels" class="direc">My Writing ></a>
    </div>

    <form action="/novels/<%= novel._id %>?_method=PUT" method="POST">
        <!-- ปกนิยาย -->
        <div class="container w-75 cont">
            <div class="row g-0">
                <div class="col-5 covim">
                    <img id="output_image" src="<%= novel.image %>" class="preview">
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <input name="title" type="text" value="<%= novel.title %>" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <textarea name="description" id="" cols="30" rows="6" value=""
                            class="form-control"><%= novel.description %></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <select name="category" id="" class="form-select">
                            <option value="all" selected>เลือกหมวดหมู่</option>
                            <option <%=novel.category==='โรแมนติก' ? 'selected' : '' %>>โรแมนติก</option>
                            <option <%=novel.category==='แฟนตาซี' ? 'selected' : '' %>>แฟนตาซี</option>
                            <option <%=novel.category==='ดราม่า' ? 'selected' : '' %>>ดราม่า</option>
                            <option <%=novel.category==='ผจญภัย' ? 'selected' : '' %>>ผจญภัย</option>
                            <option <%=novel.category==='Action' ? 'selected' : '' %>>Action</option>
                            <option <%=novel.category==='LGBTQ+' ? 'selected' : '' %>>LGBTQ+</option>
                            <option <%=novel.category==='ลึกลับ' ? 'selected' : '' %>>ลึกลับ</option>
                            <option <%=novel.category==='สืบสวน' ? 'selected' : '' %>>สืบสวน</option>
                            <option <%=novel.category==='Comedy' ? 'selected' : '' %>>Comedy</option>
                            <option <%=novel.category==='กีฬา' ? 'selected' : '' %>>กีฬา</option>
                            <option <%=novel.category==='วรรณกรรม' ? 'selected' : '' %>>วรรณกรรม</option>
                            <option <%=novel.category==='ย้อนยุค' ? 'selected' : '' %>>ย้อนยุค</option>
                            <option <%=novel.category==='ผู้ใหญ่' ? 'selected' : '' %>>ผู้ใหญ่</option>
                            <option <%=novel.category==='สยองขวัญ' ? 'selected' : '' %>>สยองขวัญ</option>
                            <option <%=novel.category==='Fanfiction' ? 'selected' : '' %>>Fanfiction</option>
                            <option <%=novel.category==='Light-Novel' ? 'selected' : '' %>>Light-Novel</option>
                        </select>
                        <select name="rate" id="" class="form-select">
                            <option value="select" selected>เลือกระดับเนื้อหา</option>
                            <option <%=novel.rate==='allages' ? 'selected' : '' %>>ทุกวัย</option>
                            <option <%=novel.rate==='childhood' ? 'selected' : '' %>>อายุ 3 - 5 ปี</option>
                            <option <%=novel.rate==='child' ? 'selected' : '' %>>อายุ 6 - 12 ปี</option>
                            <option <%=novel.rate==='13+' ? 'selected' : '' %>>อายุ 13 ปีขึ้นไป</option>
                            <option <%=novel.rate==='18+' ? 'selected' : '' %>>อายุ 18 ปีขึ้นไป</option>
                            <option <%=novel.rate==='20+' ? 'selected' : '' %>>เฉพาะผู้ใหญ่ อายุ 20 ปีขึ้นไป</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <input name="avatar" class="form-control" type="file" accept="image/*"
                            onchange="preview_image(event)">
                        <select name="publisher" id="" class="form-select">
                            <option <%=novel.publisher==='publish' ? 'selected' : '' %>>publish</option>
                            <option <%=novel.publisher==='not-publish' ? 'selected' : '' %>>not-publish</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="image" value="<%= novel.image %>" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <!-- intro -->
        <div class="container w-75 cont">
            <h4>แนะนำเรื่อง</h4>
            <textarea name="intro" id="editor"><%= novel.intro %></textarea>
        </div>

        <!-- tag ปุ่ม -->
        <div class="container w-75 cont">
            <span>แท๊ก (Tag)</span>
            <input name="tag" type="text" value="<%= novel.tag %>" class="tag">
            <div class="d-grid gap-2 d-md-block btnn">
                <button class="save" type="submit">บันทึก</button>
                <a href="writing.html" type="button" class="cancel">ยกเลิก</a>
            </div>
        </div>
    </form>

    <script>
        //rich text editor
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Verdana", 'Bai Jamjuree', sans-serif;
        }

        /* navbar */
        nav {
            border-bottom: 1px solid #ddd;
        }

        /* name brand */
        #name-brand {
            color: rgb(248, 167, 181);
            font-size: x-large;
        }

        /* dropdown หมวดหมู่ */
        .cate {
            width: 545px;
        }

        .drop-item {
            text-decoration: none;
            color: grey;
        }

        .drop-item:hover {
            color: pink;
        }

        .row {
            margin: 10px 5px;
        }

        /* subnav */
        .manunav {
            text-align: center;
            margin: 10px;
        }

        .manunav-item {
            text-decoration: none;
            color: grey;
            margin: 0 20px;
            font-size: large;
        }

        .manunav-item:hover {
            color: pink;
        }

        /* button login */
        .login {
            text-decoration: none;
            color: grey;
            border: 2px solid pink;
            background-color: white;
            border-radius: 20px;
            padding: 5px 15px;
        }

        .login:hover {
            color: white;
            background-color: pink;
        }

        /* img login */
        .img-login {
            width: 325px;
        }

        /* modal */
        .text-center {
            text-align: center;
        }

        .close {
            float: right;
            margin: 10px 10px 0 0;
        }

        .topic {
            font-size: x-large;
        }

        .facebook {
            background-color: #3b5998;
            color: white;
            border: 0;
            border-radius: 20px;
            padding: 5px 15px;
            margin: 10px 0;
        }

        .line {
            background-color: #00B900;
            color: white;
            border: 0;
            border-radius: 20px;
            padding: 5px 33.5px;
        }

        .apple {
            background-color: black;
            color: white;
            border: 0;
            border-radius: 20px;
            padding: 5px 30px;
        }

        .or-center {
            text-align: center;
            margin: 10px 0;
        }

        .input {
            padding: 5px;
            margin: 5px 0;
            border-radius: 17px;
            border: 2px solid grey;
            outline: none;
        }

        .input:focus {
            border: 2px solid pink;
        }

        .clearlink,
        .clearlink:hover {
            text-decoration: none;
            color: pink;
        }

        .submit-modal {
            background-color: pink;
            color: white;
            border: 0;
            border-radius: 20px;
            padding: 5px 50px;
            margin: 15px 0;
        }

        .regis {
            background-color: white;
            border: 2px solid pink;
            border-radius: 15px;
            padding: 3px 10px;
            margin: 10px 0;
        }

        .borderright {
            border-right: 2px solid pink;
        }

        .in-regis {
            width: 310px;
            margin: 5px 25px;
        }

        .text {
            margin: 5px 0 0 30px;
        }

        .check {
            margin: 15px 0;
        }

        /* เส้นทาง */
        .direc {
            text-decoration: none;
            color: grey;
        }

        .direc:hover {
            color: pink;
        }

        /* รายละเอียด */
        .cont {
            margin-top: 30px;
        }

        .preview {
            max-height: 320px;
            border-radius: 10px;

        }

        .covim {
            display: flex;
            justify-content: center;
        }

        .input-group .form-control:focus,
        .input-group .form-select:focus {
            border-color: hotpink;
            box-shadow: none;
            outline: 0 none;
        }

        /* intro */
        .tag {
            padding: 5px 10px;
            border: 1px solid grey;
            border-radius: 15px;
        }

        .tag:focus {
            outline: 0 none;
            border-color: hotpink;
        }

        /* ปุ่ม */
        .btnn {
            margin: 30px 0;
            text-align: center;
        }

        .save {
            background-color: pink;
            color: white;
            border: 0;
            padding: 8px 20px;
            border-radius: 20px;
        }

        .cancel,
        .cancel:hover {
            text-decoration: none;
            border: 2px solid pink;
            color: grey;
            padding: 6px 15px;
            border-radius: 20px;
            margin-left: 15px;
        }

        footer {
            background-color: #404040;
            padding: 20px;
        }

        .footer {
            text-align: center;
            color: #b3b3b3;
            font-size: medium;
        }
    </style>
<%- include("partials/footer") %>